#heading{
	font-family: "robo";
	font-size: 32pt;
}
#nav{
	font-family: "helvetica";
	font-size:12pt;
	margin-left: 10px;
}
#main{
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid;


	/*border: solid;*/
}
#info{
	border-radius: 5px;
	transform: rotate(2deg);
	background-color: grey;
	display: flex;
	/*border: dotted;*/
	width: 35%;
	border:solid;

}
#cbtitle{
	font-family: "citibike";
	font-size: 40pt;
}
.navs{
	cursor: pointer;
	width: 5%;
}
.descriptor{
	width: 33%;
	border: solid;
	font-size: 10pt;
}
.tech{
	color: #C63D46;
	border-radius: 15px; 
}
p{
	padding: 10px;
	font-family: "helvetica"
}
a{
	color: #C63D46;
	text-decoration: none;
}
b{

}

@font-face{
	font-family: "robo";
	src:url(../fonts/Roboto-Black.ttf);
}
@font-face{
	font-family: "citibike";
	src:url(../fonts/Bloomer.otf) format("opentype");
}
#projectPage{
	border: dotted;
	background-color: #49516F;
	font-weight: bold;
	border-radius: 5px;
	font-size: 20pt;
	display: flex;
	flex-direction: column;
	width: 35%
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}